.jumbotron {
  padding: 1em 1em;
}

#order-alert {
  display: none;
}

#beverage-alert {
  display: none;
}

#ingredient-alert {
  display: none;
}

#size-alert {
  display: none;
}

.order {
  display: none;
}

button#add-row-btn{
  width: 150px;
  margin-bottom: 20px;
}

.beverage-number{
  width: 80px;
}

.beverage-section{
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

select#beverage-select {
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input.form-control.beverage-number-input {
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
th.col-1.text-center{
  font-size: 0.8rem;
}

.col-12.text-center {
  font-size: 0.9rem;
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
  font-weight: bold;
  border-radius: 5px;
}

.col-12.text-center {
  padding: 5px
}